.cards {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
  margin: 2em; 
}

.card {
  flex: 0 1 32%;
  padding: .5em; 
  margin: .2em; 
  justify-content: center;
  background-color: #fff;
}