.player-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  line-height: 1.5;
}

.player-heading {
  font-size: 3rem;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.player-info {
  font-size: 1.5rem;
}

.player-info--key {
  text-transform: uppercase;
  font-size: 1.2rem; 
  font-weight: 600;
  padding-right: 1rem; 
  color: #154360;
}

.player-info--value {
  text-align: left;
}

.btns-container {
  display: flex;
  flex-direction: column;
}

.show-avg-stats-btn {
  margin-top: 1rem;
  background-color: #3e92cc;
}

.show-game-stats-btn {
  margin-top: 1rem;
  background-color: #c9082a;
}

.table-container {
  overflow-x: scroll;
  margin-top: 2rem;
  width: 90%;
}

#game-table-container {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 769px) {
  .table-container {
    overflow: hidden;
  }
}