.teams-container {
  margin: auto;
  padding-bottom: 10rem;  
}

.team {
  border: 1px solid #2f2f2f;
  padding: 3px;
  display: flex;
  justify-content: space-around;
}

.teams-heading {
  text-align: left;
  padding-left: 12.5rem; 
  margin: 2rem auto;

}

hr.hr-teams {
  margin-left: auto; 
  margin-right: auto; 
  width: 80%; 
}

.team-link {
  color: rgb(43, 43, 43);
  text-decoration: none;
  font-size: 18px;
}

.divisions-container-cards {
  padding: 2rem; 
}


.team-logo {
  padding: 0rem; 
}

.division-info > li > .team-name {
  width: 250px; 
  text-align: left;
  padding-left: 1rem; 
  padding-top: .7em; 
}

.division-info > li {
  list-style-type: none;
  display: inline-flex;
  margin-left: -40px; 
  -webkit-padding-start: 0px;
}


@media only screen and (min-width: 769px) {
  .divisions-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
