.landing-page-container {
  flex: 1 0 auto;
  position: relative;
  color: rgb(53, 52, 56);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  line-height: 1.5;
  width: 80%;
  margin: auto;
  text-align: center;
}

.about-heading {
  margin-top: 2rem; 
  margin-bottom: 1rem;
  font-size: 3rem;
}

.about-paragraph {
  font-size: 1.5rem;
}

@media only screen and (min-width: 769px) {
  .about {
    width: 100%;
  }
}